includes:
	- /var/www/html/src/addons/DevHelper/PHPStan/phpstan.neon

parameters:
    checkGenericClassInNonGenericObjectType: false

services:
	-
		class: dev\PHPStan\Reflection\PropertiesClassReflectionExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
