.DS_Store
*.devhelper
xenforo/library/bdApi/DevHelper/Generated/*
xenforo/library/bdApi/DevHelper/XFCP/*
xenforo_consumer/library/bdApiConsumer/DevHelper/Generated/*

xenforo/library/bdApi/FileSums.php
xenforo_consumer/library/bdApiConsumer/FileSums.php
xenforo/js/bdApi/*.min.js
google-services.json
xenforo_consumer/library/bdApiConsumer/DevHelper/XFCP
xenforo_consumer/js/bdApiConsumer/*.js

/vendor/
