.DS_Store
*.devhelper
xenforo/library/bdApi/DevHelper/Generated/*
xenforo_consumer/library/bdApiConsumer/DevHelper/Generated/*

xenforo/library/bdApi/FileSums.php
xenforo_consumer/library/bdApiConsumer/FileSums.php
xenforo/js/bdApi/filter_list.js
