doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title Push Server

    link(href="/bs/css/bootstrap.min.css", rel="stylesheet")

  body
    div.container
      block content