<xf:title>{{ phrase('bdapi_logs') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:datalist>
                <xf:foreach loop="$logs" value="$log">
                    <xf:datarow>
                        <xf:cell>
                            <a href="{{ link('api-logs', $log) }}" data-xf-click="overlay">{$log.request_uri}</a>
                        </xf:cell>
                    </xf:datarow>
                </xf:foreach>
            </xf:datalist>
        </div>
    </div>

    <div class="block-outer block-outer--after">
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="api-logs" />
    </div>
</div>