<xf:title>{{ phrase('bdapi_subscriptions') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:datalist>
                <xf:datarow rowtype="subSection">
                    <xf:cell>{{ phrase('bdapi_client_id') }}</xf:cell>
                    <xf:cell>{{ phrase('bdapi_subscription_callback') }}</xf:cell>
                    <xf:cell>{{ phrase('bdapi_subscription_topic') }}</xf:cell>
                    <xf:cell>{{ phrase('bdapi_subscription_subscribe_date') }}</xf:cell>
                    <xf:cell>{{ phrase('bdapi_subscription_expire_date') }}</xf:cell>
                </xf:datarow>
                <xf:foreach loop="$subscriptions" value="$subscription">
                    <xf:datarow>
                        <xf:cell>{$subscription.client_id}</xf:cell>
                        <xf:cell>{$subscription.callback}</xf:cell>
                        <xf:cell>{$subscription.topic}</xf:cell>
                        <xf:cell><xf:date time="$subscription.subscribe_date" /></xf:cell>
                        <xf:cell>
                            <xf:if is="$subscription.expire_date">
                                <xf:date time="$subscription.expire_date" />
                            <xf:else />
                                {{ phrase('n_a') }}
                            </xf:if>
                        </xf:cell>
                    </xf:datarow>
                </xf:foreach>
            </xf:datalist>
        </div>
    </div>

    <div class="block-outer block-outer--after">
        <xf:pagenav page="{$page}" perpage="{$perPage}"
                    total="{$total}" link="api-subscriptions" />
    </div>
</div>